/* static/css/custom.css */
body {
    padding-top: 60px;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 24px;
}

.cover-container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.cover-heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

.lead {
    font-size: 20px;
    margin-bottom: 40px;
    color: #666666;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666666;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

footer {
    background-color: #000000;
    padding: 20px 0;
    color: #ffffff;
}

footer p {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
}
/* static/css/custom.css */
body {
    overflow: hidden;
}

.fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%) blur(2px);
}

