body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.site-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.cover-container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.cover-heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lead {
    font-size: 20px;
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 250px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

.btn-primary {
    background-color: #D64045;
    border-color: #D64045;
}

.btn-primary:hover {
    background-color: #D64045;
    border-color: #D64045;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    color: #ffffff;
}

footer p {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
}

body {
    overflow: hidden;
}

h2 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%) blur(2px);
}
