.top-card {
  min-height: 300px;
  margin-bottom: 20px; /* Add space below each card */
}

.card {
  margin: 15px; /* Add space around each card */
}

.card-body {
  padding: 20px; /* Add padding inside the card */
}

li {
  color: white;
}
