{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="card h-100">
        <img src="static/images/GDMLogo.ico" class="card-img-top" alt="GDM Image" style="max-width: 100%; max-height: 100%;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">GDM</h5>
          <p class="card-text flex-grow-1">Download the Latest version of the Geometry Dash Multiplayer mod client.</p>
          <a href="https://mega.nz/file/QIFGmTTD#-BL7Uby-OOJCYQS6RXz2bDktVPV7XegNRo0NF6KRfsM" class="btn btn-primary">
            <i class="fas fa-download"></i> Download
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <img src="static/images/GDMALogo.png" class="card-img-top" alt="GDMA Image" style="max-width: 100%; max-height: 100%;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">GDMA</h5>
          <p class="card-text flex-grow-1">Download the APK for GDM android.</p>
          <a href="#" class="btn btn-primary btn-disabled" style="pointer-events: none; background-color: #ccc;">
            <i class="fas fa-download"></i> Download
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
