{% extends 'layout.html' %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <header class="mb-auto">
        <h1 class="cover-heading">Welcome to the Geometry Dash Multiplayer Website!</h1>
        <p class="lead">Here, you can download or purchase VIP for our Mod.</p>
    </header>

    <main role="main" class="inner cover">
        <div class="row mb-4">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Become a VIP</h5>
                        <p class="card-text">Unlock exclusive features and support the project and server cost.</p>
                        <a href="VIP" class="btn btn-danger"><i class="fas fa-crown"></i> Buy VIP</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Join Our Discord Server</h5>
                        <p class="card-text">Connect with other players, share experiences, and get support.</p>
                        <a href="{{ discord_url }}" class="btn btn-danger"><i class="fab fa-discord"></i> Join Discord</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Download the Mod</h5>
                        <p class="card-text">Experience Geometry Dash Multiplayer and explore new possibilities.</p>
                        <a href="https://mega.nz/file/QIFGmTTD#-BL7Uby-OOJCYQS6RXz2bDktVPV7XegNRo0NF6KRfsM" class="btn btn-danger"><i class="fas fa-download"></i> Download</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center">Latest Patreon Supporters</h2>
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3">
                <div class="card supporter-card">
                    <div class="card-body text-center text-md-left">
                        <ul class="list-unstyled supporter-list">
                            {% if latest_supporters %}
                                {% for supporter in latest_supporters %}
                                    <li class="supporter"><i class="fas fa-star"></i> {{ supporter }}</li>
                                {% endfor %}
                            {% else %}
                                <p class="no-supporters">No supporters found.</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="static/js/script.js"></script>
</div>
{% endblock %}
