{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <link rel="stylesheet" type="text/css" href="static/vip.css">
    <div class="row justify-content-center">
      <div class="col-lg-3 mx-auto mb-4">
        <div class="card bg-info text-white top-card">
          <div class="card-body">
            <h2 class="card-title text-center">Support our Project</h2>
            <p class="card-text text-center">Help us cover the server costs and website expenses by becoming a VIP/Patreon supporter. Your support will enable us to continue providing a seamless multiplayer experience and maintain a reliable server infrastructure.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mx-auto mb-4">
        <div class="card top-card">
          <div class="card-body">
            <h2 class="card-title">Benefits of Becoming a VIP/Patreon:</h2>
            <ul>
              <li>Exclusive access to VIP-only features and levels</li>
              <li>Priority support for technical issues</li>
              <li>Recognition in the mod's credits and community</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mx-auto mb-4">
        <div class="card top-card">
          <div class="card-body">
            <h2 class="card-title">How to Become a VIP/Patreon:</h2>
            <ol>
              <li>Visit our Patreon page</li>
              <li>Select the desired support tier</li>
              <li>Complete the payment process</li>
              <li>Receive instructions to access VIP benefits</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-3 mx-auto mb-4">
        <div class="card text-white bg-primary">
          <div class="card-header text-center">Basic Supporter</div>
          <div class="card-body">
            <h5 class="card-title text-center">$5 per month</h5>
            <p class="card-text">Unlock exclusive features and levels. Get priority support for technical issues. Be recognized in the mod's credits and community.</p>
            <a href="https://www.patreon.com/GDMservers" class="btn btn-light d-flex align-items-center justify-content-center">
              <i class="fa fa-arrow-circle-right mr-2"></i>Get Tier Basic
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mx-auto mb-4">
        <div class="card text-white bg-success">
          <div class="card-header text-center">VIP+ Supporter</div>
          <div class="card-body">
            <h5 class="card-title text-center">$10 per month</h5>
            <p class="card-text">Unlock exclusive features and levels. Get priority support for technical issues. Be recognized in the mod's credits and community.</p>
            <a href="https://www.patreon.com/GDMservers" class="btn btn-light d-flex align-items-center justify-content-center">
              <i class="fa fa-arrow-circle-right mr-2"></i>Get Tier VIP+
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mx-auto mb-4">
        <div class="card text-white bg-warning">
          <div class="card-header text-center">MVP Supporter</div>
          <div class="card-body">
            <h5 class="card-title text-center">$20 per month</h5>
            <p class="card-text">Unlock exclusive features and levels. Get priority support for technical issues. Be recognized in the mod's credits and community.</p>
            <a href="https://www.patreon.com/GDMservers" class="btn btn-light d-flex align-items-center justify-content-center">
              <i class="fa fa-arrow-circle-right mr-2"></i>Get Tier MVP
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/vip.js"></script>
{% endblock %}
